@import '../base/colors';

.inicio{
    background-color: $bg-color-1;
    text-decoration-color: lightcoral;
    text-align: center;
    margin: 0;
    padding: 0;   
    p{
        justify-items: center;
        background-color: $bg-color-1;
        margin: 0px;
        padding: 6em 2em;
    }
    iframe{
        width: 60%;
        background-color: black;
        padding: 5px 70px ;
        margin: unset;
    }
}