.whatapp{
    margin: 5px;
    padding: 10px;
    background-color: rgb(172, 161, 161);
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    width: 30px;
    height: 30px;
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 7;
  
}