@media only screen and (max-width:506px){
    .logo{
        width: 30%;
        justify-content: center;
    }
    }
    @media only screen and (min-width:507px) and (max-width:960px){
        .item-logo-cliente {
            width: 300px;
            height: 300px;
            margin: 0.1em;
            display: block;
            justify-content: center;
            align-items: center;
        }
    }
    @media only screen and (min-width:961px){
    
    }